*{
    padding: 0px;
    margin: 0px;
    
font-family: 'Baloo Chettan 2', cursive;
font-family: 'Anek Devanagari', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Anek Devanagari', sans-serif;
font-family: 'Arvo', serif;

   
}
:root{
    --maincolor :#126E82;
    --seccolor :#646FD4;
    --infocolor :#9BA3EB;
    --edge :#132C33;
}