*{
    padding: 0px;
    margin: 0px;
    
font-family: 'Baloo Chettan 2', cursive;
font-family: 'Anek Devanagari', sans-serif;


   
}
:root{
    --maincolor :#126E82;
    --seccolor :#51C4D3;
    --infocolor :#126E82;
    --edge :#132C33;
}
body {
	font-family:'Courier New', Courier, monospace;
	min-width: 516px;
}