*{
    padding: 0px;
    margin: 0px;
    
font-family: 'Baloo Chettan 2', cursive;
font-family: 'Anek Devanagari', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Anek Devanagari', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Baloo Chettan 2', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;

   
}
:root{
    --maincolor :#D8E3E7;
    --seccolor :#51C4D3;
    --infocolor :#126E82;
    --edge :#132C33;
}