#nav-bar

{
    text-decoration: none;
    position: static;
    top: auto;
    z-index: inherit;
    
}
.navbar
{
    text-decoration: none;
    background-color :lightseagreen;
    /*moving the nav bar from edges of the page */
    padding: 22px!important;
}
navbar-barnd img
{
    height: 300;
    padding-left:40px;
    text-decoration: none;
}
.navbar-nav li
{
    text-decoration: none;
    padding: 0 25px;
    
}
.navbar-nav li a
{
 color:#fff  !important;
 font-weight: 600;
 text-decoration: none;
}

  
.sign-up button {
text-decoration: none;
 margin-left: 5px;
  position: left;
  font-size:10;
  top: 60%;
  left: 50%;
  transform: translateX1(100%);
  width: 5rem;
  height: 2rem;
  background-color: transparent;
  border: 0.1rem solid #fff;
  border-radius: 3rem;
  text-transform: uppercase;

  color: #fff;
  cursor: pointer;
  
}
.sign-in button {
    text-decoration: none;
     margin-left: 5px;
      position: left;
      font-size:10;
      top: 60%;
      left: 50%;
      transform: translateX1(100%);
      width: 5rem;
      height: 2rem;
      background-color: transparent;
      border: 0.1rem solid #fff;
      border-radius: 3rem;
      text-transform: uppercase;
    
      color: #fff;
      cursor: pointer;
      
    }
 

