a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.container-card
{
    padding: 14%;
    margin-top: -76px;
    background: #f8f9fa;
}
h1{
    text-align: center;
    font-weight: 800;
}
.row{
    margin-top: 15px;
}
.Card-ins{
   border-radius: 10px;
   width: 100%;
   background-color: #fff;
   padding: 20px;
   margin-left: 10px;
   margin-top: 20px;
   min-height: 97%;
   border:transparent;
   border-style: solid;
}
.log
{
    display: flex;
}
.pr{
    color:rgb(0, 0, 0);
    
    font-size:25px;
}
.h2{
    color:rgb(0, 0, 0);
    padding-top:15px;
    padding-right: 30px;;
    
}
.link
{
    text-decoration: none;
   
}

.Mcard img {
    width: 30%;
    position: relative;
    margin-left:auto;
    margin-right: auto;
    padding: 3px;
    width: 50px;
}
@media screen and (max-width:796px) {
    .Card-ins{
        min-height: 45vh;
    }
    .Mcard img{
        width: 63%;
    }
}
@media screen and (max-width:1375px) {
    .Card-ins{
        min-height: 93%;
    }
    .Mcard img{
        width: 50%;
    }
}
@media screen and (max-width:768px) {
    .Card-ins{
        max-width: 80%  ;
    }
    .Mcard img{
        width: 30%;
    }
}
.Card-ins:hover{
    margin: 5px 4px ;
   
}
.cardsTextHomePage{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}