#side_nav
{
    background-color: rgb(144, 15, 15);
    min-width: 250px;
    max-width: 250px;
    z-index: 1;
}
.content{
    min-height: 100%;
    width: 100%;
}
.price{

    position: fixed;
    display: flex;
    z-index: 5;
}
.price-container{
    background-color: rgb(165, 26, 26);
    height: 450px;
    width: 292px;
    margin-top:0%;
}
.calc
{
    height: 250px;
    color: aliceblue;
    text-align: center;
}
.la{
    margin-top: 1pc;
}
.iner
{
    padding: 10px;
    border-radius:3px;
}
.bttn{
    display: flex;
    background-color: rgb(254, 254, 254);
    border-radius:19px;
    margin-left: 36px;
    width: 188px;
    height: 30px;
    padding: 0px 82px;
    margin-top: 22px;
    font-size: 20px;
}

.ops{
    display: flex;
    margin-left: 30px ;
    font-size: 41px;
}
.opss {
    display: flex;
    margin-left: 67px;
    margin-top: 7px;
    font-size: 20px;
}
.hide{
    display: none;
}

.opsss{
    display: flex;
    margin-left:80px;
}
#num-cc {
    margin-left: 57px;
    font-size: 34px;
}
select#degree {
    width: 100px;
    margin-left: -21px;
    font-size: 20px;
    margin-top: 7px;
    padding: 2px 2px;
}
.pris {
    margin-top: 20px;
    margin-left: -28px;
    border-radius: 17px;
    width: 209px;
    color: black;
    text-align: center;
    font-size: 20px;
}
.Result {
    display: flex;
    margin-top: 20px;
    margin-left: 57px;
    font-size: 25px;
}
select#Type {
    width: 105px;
    font-size: 20px;
    margin-left: -29px;
    margin-top: 13px;
}
form select {
    word-wrap: normal;
    width: 100px;
    font-size: 20px;
    padding: 2px 2px;
    margin-left: -15px;
}