
body {
	font-family:'Courier New', Courier, monospace;
	min-width: 516px;
}
.homeBanner{
	background-image: url(../../../public/imgs/homeBanner1.png);
	align-items: center;
	margin: auto;
	max-height: 706px;
	width: 100%;
	background-size: cover;
	background-repeat: repeat-x;
	max-width: 1800px;
}

.headerH2{

	text-align: center;
	color: aliceblue;
	padding-bottom: 3px;
	font-family: 'Anek Devanagari', sans-serif;
    margin-top: auto;
	margin-bottom: auto;
	
}
.homeBanner div h1{
	text-align: center;
	color: aliceblue;
	font-family: 'Anek Devanagari', sans-serif;
	
}
.header-cont{
	padding-top: 21%;
}
.underHeader{
	text-align: center;
}
.offercon{
	padding: 10px;
	display: flex;
	flex-direction: row;
}
.homeBottomText{
	display: none;
}
@media screen and (max-width: 1208px){
	.offercon{
		display: block;

	}
	.offercon img {
		max-width: 80%;
		
	}
	.homeUpText{
		display: none;

	}
	#homeBottomImg{
      display: inline-block;
	}
	.homeBottomText{
		display: block;
	}

	
}
.offercon img {
	max-height: 400px;
	margin: 20px;
}
.text-col{
	padding: 40px;
}
.text-col h1{
	font-style: italic;
}
#homeBottomImg{
	margin-left: 5%;
}
.thirdOff,
.firstOff{
	animation: animate 1.5s linear 1;
}
@keyframes animate{

	0%{
		filter: opacity(0);
		padding-left: 200px;
		
	}
	100%{
		filter: opacity(1);
		padding-left: 0px;
		
	}
}

.secOff{
	animation: animateOfSec 1.5s linear 1;
}
@keyframes animateOfSec{

	0%{
		filter: opacity(0);
		padding-right: 200px;
		
	}
	100%{
		filter: opacity(1);
		padding-right: 0px;
		
	}
}