*{
    margin: 0px;
    padding: 0px;
    font-family: 'Anek Devanagari', sans-serif;
font-family: 'Baloo Chettan 2', cursive;
font-family: 'Inter', sans-serif;
}
#con1{
    background-color: rgb(10, 96, 255);
    border: 2px;
    border-radius:20px ;


}
h1{
    padding-top:5px ;
    margin: 0 auto;
    text-align: right;
}

.card{
    margin: 4px;
    border: 2px;
}
.card:hover{
   border-color: black;
}