.payCon {
    margin-top:100px;
    margin-bottom:100px ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background-color:  rgba(126, 125, 125, 0.479);
    padding-bottom: 70px;
}
.payCon  .payForm1 {
    padding: 20px;
    width: 700px;
    background:#fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.payCon  .payForm1 .payrow{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}
.payCon  .payForm1 .payrow .paycol{
    flex:1 1 250px;
}

.payCon  .payForm1 .payrow .paycol .title{
   font-size: 20px;
    color: #333 ;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.payCon  .payForm1 .payrow .paycol .inputbox{
            margin: 15px 0;          
 }
 .payCon  .payForm1 .payrow .paycol .inputbox span{
    margin-bottom: 10px;
    display: block;
 }
.payCon .payrow .paycol .inputbox input{
    width: 100%;
    border: 1px solid #ccc;
    padding :10px 15px;
    font-size: 15px;
    text-transform: none;
}
.payCon .payrow .paycol .inputbox input:focus{
    border: 1px solid #000; 
}
.payCon .payrow .paycol .flex{
    gap: 15px;
}
.payCon .payrow .paycol .flex .inputbox{
    margin: 5px;
}
.payCon .submit-btn{
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background:  rgba(126, 125, 125, 0.479);
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}
.payCon .submit-btn:hover{
    background: rgba(0, 0, 0, 0.479);
}







